<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">
<title>Quản Lý Hoá Đơn</title>

<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
<body>
<div layout:fragment="content">
	<!--Content of the page-->

	<div class="container">
 		<h3>DANH SÁCH HOÁ ĐƠN</h1> 
 		   <form th:action="@{searchHD}" method="get">
		 	<input type="text" name="keyword" th:value="${keyword}" placeholder="Find by Keyword" size="50">
		 	<button type="submit" class="btn btn-primary">Search</button>
		 	<button type="submit" class="btn btn-danger">Reset</button>
		 </form>
		 </br>
		 
 		 <a th:href = "@{/showNewHoaDonForm}" class="btn btn-primary btn-sm mb-3"> Thêm Hoá Đơn </a>
		
		  <table border="1" class = "table table-striped table-reHDonsive-md">
		   <thead>
		    <tr>
		      <th> <a th:href="@{'/pageHD/' + ${currentPage} + '?sortField=maHD&sortDir=' + ${reverseSortDir}}">
      			Mã Hoá Đơn</a></th>
		      <th> <a th:href="@{'/pageHD/' + ${currentPage} + '?sortField=shd&sortDir=' + ${reverseSortDir}}">
      			Số Hoá Đơn</a></th>
		      <th> <a th:href="@{'/pageHD/' + ${currentPage} + '?sortField=ngayDat&sortDir=' + ${reverseSortDir}}">
      			Ngày Đặt</a></th>
		      <th> <a th:href="@{'/pageHD/' + ${currentPage} + '?sortField=ngayGiao&sortDir=' + ${reverseSortDir}}">
      			Ngày Giao</a></th>
		      <th> <a th:href="@{'/pageHD/' + ${currentPage} + '?sortField=diaChiNhan&sortDir=' + ${reverseSortDir}}">
      			Địa Chỉ Nhận</a></th>
		      <th> <a th:href="@{'/pageHD/' + ${currentPage} + '?sortField=tinhTrang&sortDir=' + ${reverseSortDir}}">
      			Tình Trạng</a></th>
		      <th> <a th:href="@{'/pageHD/' + ${currentPage} + '?sortField=maKH&sortDir=' + ${reverseSortDir}}">
      			Khách Hàng</a></th>
		     <th>Chức Năng</th>
		    </tr>
		   </thead>
		   <tbody>
		    <tr th:each="HoaDon : ${listHoaDons}">
		    	<td th:text="${HoaDon.maHD}"></td>
			   	<td th:text="${HoaDon.shd}"></td>
			   	<td th:text="${#dates.format(HoaDon.ngayDat, 'dd-MM-yyyy')}"></td>
			   	<td th:text="${#dates.format(HoaDon.ngayGiao, 'dd-MM-yyyy')}"></td>
			   	<td th:text="${HoaDon.diaChiNhan}"></td>
			   	<td th:text="${HoaDon.tinhTrang}"></td>
			   	<td th:text="${HoaDon.maKH}"></td>
			   	
<!-- 			   	<th:block th:each="KhachHang : ${listKhachHangs}"> -->
<!-- 			   		<th:block th:if="${KhachHang.maKH == HoaDon.maKH}"> -->
<!-- 			   			<td th:text="${KhachHang.hoTen}"></td> -->
<!-- 			   		</th:block> -->
<!-- 			   	</th:block> -->

			   	<td>
			   		<a th:href="@{/showFormForUpdateHD/{maHD}(maHD=${HoaDon.maHD})}"><img th:src ="@{/images/edit.png}" width="35"/></a>
			   		<a th:href="@{/deleteHoaDon/{maHD}(maHD=${HoaDon.maHD})}"><img th:src ="@{/images/delete.png}" width="35"/></a>
			   	</td>
		    </tr>
		   </tbody>
		  </table>
		 
		 <div th:if = "${totalPages > 1}">
		   <div class = "row col-sm-10">
		    <div class = "col-sm-2">
		     Total Rows: [[${totalItems}]] 
		    </div>
		    <div class = "col-sm-1">
		     <span th:each="i: ${#numbers.sequence(1, totalPages)}">
		      <a th:if="${currentPage != i}" th:href="@{'/pageHD/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
		      <span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
		     </span>
		    </div>
		    <div class = "col-sm-1">
		     <a th:if="${currentPage < totalPages}" th:href="@{'/pageHD/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
		     <span th:unless="${currentPage < totalPages}">Next</span>
		    </div>
		    
		     <div class="col-sm-1">
		        <a th:if="${currentPage < totalPages}" th:href="@{'/pageHD/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
		     <span th:unless="${currentPage < totalPages}">Last</span>
		        </div>
		   </div>
 		 </div>	
 	</div>
</div>
</body>
</html>