<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">
<title>Quản Lý Sản Phẩm</title>

<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
<body>
<div layout:fragment="content">
	<!--Content of the page-->

	<div class="container">
 		<h3>DANH SÁCH SẢN PHẨM</h1> 
		  <table border="1" class = "table table-striped table-responsive-md">
		   <thead>
		    <tr>
		     <th>Mã Sản Phẩm</th>
		     <th>Tên Sản Phẩm</th>
<!-- 		     <th>Đặc Điểm</th> -->
		     <th>Ảnh</th>
		     <th>Đơn Giá</th>
<!-- 		     <th>Ghi Chú</th> -->
		     <th>Size</th>
		     <th>Loại Sản Phẩm</th>
		     <th>Chức Năng</th>
		    </tr>
		   </thead>
		   <tbody>
		    <tr th:each="SanPham : ${listSanPhams}">
		    	<td th:text="${SanPham.maSP}"></td>
			   	<td th:text="${SanPham.tenSP}"></td>
<!-- 			   	<td th:text="${SanPham.dacDiem}"></td> -->
			   	<td>
		   			<img th:src ="@{'/images/' + ${SanPham.anh}}" style="width: 200px"/>
			   	</td>
			   	<td th:text="${SanPham.donGia}"></td>
<!-- 			   	<td th:text="${SanPham.ghiChu}"></td> -->
			   	
			   	<th:block th:each="Size : ${listSizes}">
			   		<th:block th:if="${Size.maSize == SanPham.maSize}">
			   			<td th:text="${Size.tenSize}"></td>
			   		</th:block>
			   	</th:block>
			   	<th:block th:each="LoaiSanPham : ${listLoaiSanPhams}">
			   		<th:block th:if="${LoaiSanPham.maLoaiSP == SanPham.maLoaiSP}">
			   			<td th:text="${LoaiSanPham.tenLoaiSP}"></td>
			   		</th:block>
			   	</th:block>
			   	<td>
			   		<a th:href="@{/showFormForUpdateSP/{maSP}(maSP=${SanPham.maSP})}"><img th:src ="@{/images/edit.png}" width="35"/></a>
			   		<a th:href="@{/deleteSanPham/{maSP}(maSP=${SanPham.maSP})}"><img th:src ="@{/images/delete.png}" width="35"/></a>
			   	</td>
		    </tr>
		   </tbody>
		  </table>
		  <a th:href = "@{/showNewSanPhamForm}" class="btn btn-primary btn-sm mb-3"> Thêm Sản Phẩm </a>
		   <form th:action="@{searchSP}" method="get">
		 	<input type="text" name="keyword" th:value="${keyword}" placeholder="Find by Keyword" size="50">
		 	<button type="submit" class="btn btn-primary">Search</button>
		 	<button type="submit" class="btn btn-danger">Reset</button>
		 </form>
		 </br>
 	</div>
</div>
</body>
</html>