<!DOCTYPE html>
<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">
<title>Quản Lý Chi Tiết Phiếu Nhập</title>

<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
<body>
<div layout:fragment="content">
	<!--Content of the page-->

	<div class="container">
 		<h3>DANH SÁCH CHI TIẾT PHIẾU NHẬP</h1> 
 		   <form th:action="@{searchCTPN}" method="get">
		 	<input type="text" name="keyword" th:value="${keyword}" placeholder="Find by Keyword" size="50">
		 	<button type="submit" class="btn btn-primary">Search</button>
		 	<button type="submit" class="btn btn-danger">Reset</button>
		 </form>
		 </br>
		 
 		<a th:href = "@{/showNewChiTietPhieuNhapForm}" class="btn btn-primary btn-sm mb-3"> Thêm Chi Tiết Phiếu Nhập </a>
		
		  <table border="1" class = "table table-striped table-reCTPNonsive-md">
		   <thead>
		    <tr>
		     <th>Mã Phiếu Nhập</th>
		     <th>Sản Phẩm</th>
		     <th>Số Lượng Nhập</th>
		     <th>Đơn Giá Nhập</th>
		     <th sec:authorize="hasAnyAuthority('Admin', 'Editor')">Chức Năng</th>
		    </tr>
		   </thead>
		   <tbody>
		    <tr th:each="ChiTietPhieuNhap : ${listChiTietPhieuNhaps}">
		    	<td th:text="${ChiTietPhieuNhap.maPN}"></td>
			   	<th:block th:each="SanPham : ${listSanPhams}">
			   		<th:block th:if="${SanPham.maSP == ChiTietPhieuNhap.maSP}">
			   			<td th:text="${SanPham.tenSP}"></td>
			   		</th:block>
			   	</th:block>
			   	<td th:text="${ChiTietPhieuNhap.soLuongNhap}"></td>
			   	<td th:text="${ChiTietPhieuNhap.donGiaNhap}"></td>
			   	<td sec:authorize="hasAnyAuthority('Admin', 'Editor')">
			   		<a th:href="@{/showFormForUpdateCTPN/{maPN}(maPN=${ChiTietPhieuNhap.maPN})}"><img th:src ="@{/images/edit.png}" width="35"/></a>
			   		<a sec:authorize="hasAnyAuthority('Admin')" th:href="@{/deleteChiTietPhieuNhap/{maPN}(maPN=${ChiTietPhieuNhap.maPN})}"><img th:src ="@{/images/delete.png}" width="35"/></a>
			   	</td>
		    </tr>
		   </tbody>
		  </table>
 	</div>
</div>
</body>
</html>