<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">
<title>Quản Lý Size</title>

<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
<body>
<div layout:fragment="content">
	<div class="container">
        <h2 class="mb-3">Cập Nhật Size</h2>

        <form action="#" th:action="@{/saveSize}" th:object="${size}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{maSize}" />

			<label for="tenSize"><strong>Size:</strong></label>
            <input type="text" th:field="*{tenSize}" class="form-control mb-4 col-4">
            
            <label for="chieuCao"><strong>Chiều cao:</strong></label>
            <input type="text" th:field="*{chieuCao}" class="form-control mb-4 col-4">
            
            <label for="canNang"><strong>Cân nặng:</strong></label>
            <input type="text" th:field="*{canNang}" class="form-control mb-4 col-4">
            
            <button type="submit" class="btn btn-info col-2">Cập nhật</button>
        </form>
        <hr>

        <a th:href="@{/}"> Quay lại</a>
    </div>
</div>
</body>
</html>