<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">
<title>Quản Lý Hoá Đơn</title>

<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
<body>
<div layout:fragment="content">
	<div class="container">
        <h2>Cập Nhật Hoá Đơn</h2>

        <form action="#" th:action="@{/saveHoaDon}" th:object="${HoaDon}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{maHD}" />

            <div>
            	<label for="soHoaDon"><strong>Số hoá đơn:</strong></label>
            	<input type="text" readonly th:field="*{shd}" class="form-control mb-4 col-4" >
            </div>
            
			<div>
        		<label for="ngayDat">Ngày đặt:</label>
        		<input type="date" readonly th:field="*{ngayDat}" id="ngayDat" />
    		</div>
    		</br>
    		<div>
        		<label for="ngayGiao">Ngày giao:</label>
        		<input type="date" readonly th:field="*{ngayGiao}" id="ngayGiao"/>
    		</div>
    		</br>
            
            
            <div>
	            <label for="diaChiNhan">Địa chỉ nhận:</label>
	            <input type="text" readonly th:field="*{diaChiNhan}" class="form-control mb-4 col-4">
            </div>
            
            <label for="tinhTrangDonHang">Tình trạng đơn hàng:</label>
            <select th:field="*{tinhTrang}" class="form-select" aria-label="Default select example">
				  <option value="Chưa xác nhận">Chưa xác nhận</option>
				  <option value="Xác nhận">Xác nhận</option>
				  <option value="Đang giao">Đang giao</option>
				  <option value="Giao thành công">Giao thành công</option>
			</select>
            </br>
            
            <th:block th:each="KhachHang : ${listKhachHangs}">
	             <th:block th:if="${HoaDon.maKH == KhachHang.maKH}">
	             <label for="khachHang">Khách Hàng:</label>
	            	  <input type="hidden" th:field="*{maKH}" class="form-control mb-4 col-4" th:value="${HoaDon.maKH}" th:text="${KhachHang.hoTen}">
	            </th:block>
            </th:block>
           
            </br>
            </br>
     
            <button type="submit" class="btn btn-info col-2">Cập nhật</button>
        </form>
        <hr>

        <a th:href="@{/}"> Quay lại</a>
    </div>
</div>
</body>
</html>