<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">
<title>Quản Lý Nhân Viên</title>

<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
<body>
<div layout:fragment="content">
	<div class="container">
        <h2 class="mb-3">Cập Nhật Nhân Viên</h2>

        <form action="#" th:action="@{/saveNhanVien}" th:object="${nhanvien}" method="POST">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{maNV}" />

			<label for="hoTen"><strong>Họ tên:</strong></label>
            <input type="text" th:field="*{hoTen}" class="form-control mb-4 col-4">

			<label for="email"><strong>Email:</strong></label>
            <input type="text" th:field="*{email}" class="form-control mb-4 col-4">

			<label for="sdt"><strong>SĐT:</strong></label>
            <input type="text" th:field="*{sdt}" class="form-control mb-4 col-4">
            
            <label for="diaChi"><strong>Địa chỉ:</strong></label>
            <input type="text" th:field="*{diaChi}" class="form-control mb-4 col-4">
            
            <label for="cmnd"><strong>CMND:</strong></label>
            <input type="text" th:field="*{cmnd}" class="form-control mb-4 col-4">
            
            <label for="taiKhoan"><strong>Tài khoản:</strong></label>
            <input type="text" th:field="*{taiKhoan}" class="form-control mb-4 col-4">
            
            <label for="matKhau"><strong>Mật khẩu:</strong></label>
            <input type="text" th:field="*{matKhau}" class="form-control mb-4 col-4">
            
<!--             <label for="maQuyen"><strong>Tên quyền:</strong></label> -->
<!--             <select th:field="*{maQuyen}" class="form-select">  -->
<!--             	<option th:each="Quyen : ${listQuyens}" -->
<!--                 	th:value="${Quyen.maQuyen}" -->
<!--                     th:text="${Quyen.tenQuyen}" ></option> -->
<!--            	</select> -->
<!--            	</br> -->
            <button type="submit" class="btn btn-info col-2">Cập nhật</button>
        </form>
        <hr>

        <a th:href="@{/}"> Quay lại</a>
    </div>
</div>
</body>
</html>