<html lang="en" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="admin/layout">
<title>Quản Lý Sản Phẩm</title>

<link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
 integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
 crossorigin="anonymous">
<body>
<div layout:fragment="content">
	<div class="container">
        <h2>Cập Nhật Sản Phẩm</h2>

		<form action="#" th:action="@{/saveSanPham}" th:object="${sanpham}" method="POST" enctype="multipart/form-data">

            <!-- Add hidden form field to handle update -->
            <input type="hidden" th:field="*{maSP}" />
            
           	<input type="text" th:field="*{tenSP}" class="form-control mb-4 col-4">	

            <input type="text" th:field="*{dacDiem}" class="form-control mb-4 col-4" >
            
			<label>Ảnh sản phẩm: </label>
			<input type="file" th:field="*{anh}" name="image" accept="image/png, image/jpeg, image/jpg" class="mb-3"/>
            
            <input type="text" th:field="*{donGia}" class="form-control mb-4 col-4">
            
            <input type="text" th:field="*{ghiChu}" class="form-control mb-4 col-4">
            
 			<select th:field="*{maSize}" class="form-select"> 
            	<option th:each="Size : ${listSizes}"
                	th:value="${Size.maSize}"
                    th:text="${Size.tenSize}" ></option>
           	</select>
            </br>
            <select th:field="*{maLoaiSP}" class="form-select"> 
                <option th:each="LoaiSanPham : ${listLoaiSanPhams}"
                    th:value="${LoaiSanPham.maLoaiSP}"
                    th:text="${LoaiSanPham.tenLoaiSP}" ></option>
            </select>
            </br>
            <button type="submit" class="btn btn-info col-2">Cập nhật</button>
        </form>
        <hr>

        <a th:href="@{/}"> Quay lại</a>
    </div>
</div>
</body>
</html>